<div class="container text-center">
    <%- include('../partials/messages') %>
</div>
<% if(user.role == 'seller') { %>
    <%- include('../partials/seller_dashboard.ejs') %>
<% } else if(user.role == 'buyer') { %>
    <%- include('../partials/buyer_dashboard.ejs') %>
<% } else if(user.role == 'delivery_man') { %>
    <%- include('../partials/delivery_man_dashboard.ejs') %>
<% } else { %>
    <%- include('../partials/admin_dashboard.ejs') %>
<% } %>