<style>
    #products-div {
        margin-top: 5vh;
        background: lightgreen;
        padding: 25px 10px;
        color: darkgreen;
    }
    thead {
        background: darkslategrey;
        color: greenyellow;
    }
    .fa-pencil {
        color: goldenrod;
        margin-right: 10px;
    }
    .fa-eraser {
        color: brown;
    }
    .fa-pencil:hover, .fa-eraser:hover {
        color: black;
    }
    @media only screen and (max-width: 720px) {
        body {
            background: lightgreen !important;
        }
    }
</style>
<div class="container col-md-8 col-sm-12" id="products-div">
    <h2 class="text-center">All Products</h3>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Product</th>
            <th scope="col">Title</th>
            <th scope="col">Seller email</th>
            <th scope="col">Price</th>
            <th scope="col">Status</th>
            <th scope="col">In Stock</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <% for( let i = 0; i < products.length; i++ ) { %>
            <tr>
                <th scope="row"><%= i + 1 %></th>
                <td><img src="<%= products[i].imagePath %>" alt="product" height="75" width="100"></td>
                <td><%= products[i].title %></td>
                <td><%= products[i].email %></td>
                <td><%= products[i].price %></td>
                <td style="text-transform: capitalize;"><%= products[i].status %></td>
                <td><%= products[i].inStock %></td>
                <td>
                    <!-- <a href="#"><i class="fa fa-pencil fa-2x" aria-hidden="true"></i></a> -->
                    <a href="/products/delete/<%= products[i]._id %>"><i class="fa fa-eraser fa-2x" aria-hidden="true"></i></a>
                </td>
            </tr>
          <% } %>
        </tbody>
      </table>
</div>