<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inline CSS Only</title>
</head>
<body style="margin: 0; padding: 0; box-sizing: border-box; text-align: center; background: #267871; color: #fff;">
    <header style="background: #7b4397; height: 50px; display: flex;">
        <p style="margin: auto; color: #fff;">e-Basket <%= purpose %> Confirmation</p>
    </header>
    <h3 style="margin-top: 5vh;"><%= bigMSG %></h3>
    <h4>Order ID:</h4>
    <h1><%= orderID %></h1>
    <h4>Confirmation Code:</h4>
    <h1><%= verification %></h1>
    <p><%= msg %></p>
    <h3 style="margin-top: 3vh;">Thanks for using e-Basket!</h3>
    <footer style="background: #7b4397; height: 50px; display: flex; position: fixed; bottom: 0; width: 100%;">
        <p style="margin: auto; color: #fff;">Copyright 2020</p>
    </footer>
</body>
</html>